body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.list {
  display: flex;
  width: 40vw;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  display: inline-block;
}
